<!DOCTYPE html>
<html>
<head>
  <title>Adam & Alvin's Fun Lab - {{ page.title }}</title>
  <link rel="stylesheet" href="assets/css/style.css" type="text/css">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
                     google_ad_client: "ca-pub-1164195389773753",
                               enable_page_level_ads: true
                                    });
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134630487-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

          gtag('config', 'UA-134630487-1');
  </script>

</head>
<body>
<div id="topbg"></div>

<div id="main">
    {% include header.html %}

    <ul id="menu">
		  <li><a class="sel" href="#"><span></span>Lorem</a></li>
		  <li><a href="#"><span></span>Ipsum</a></li>
		  <li><a href="#"><span></span>Dolor</a></li>
		  <li><a href="#"><span></span>Sit amet</a></li>
		  <li><a href="#"><span></span>Aliquip</a></li>
  	</ul>
    
    <div id="content">
        <div id="left">
        {{ content }}
         </div>
        {% include right.html %}
        
        <div class="cleaner"></div>
    </div>
    {% include footer.html %}
</div>

</body>
</html>
